:root{
    --p-inputtext-background : #fff !important;
    --p-inputtext-border-color: #fff !important;
    --p-inputtext-color: #000 !important;
    --p-inputtext-focus-border-color : #929C6B !important;

}