body{
    margin: 0 !important;
    background-color: #F6F7F2 !important;
}
a{
    text-decoration: none !important;
}
.pattern-bg {
    background: url("src/assets/images/template/pattern-bg.svg");
    background-size: cover;
}
.header-color {
    background-color: #D7DEBD!important;
}
.ayt-text-dark{
    color: #929C6B!important;
}
.ayt-bg-dark{
    background-color: #929C6B!important;
}
.ayt-text-light{
    color: #D7DEBD!important;
}
.ayt-bg-light{
    background-color: #D7DEBD!important;
}
.ayt-border-light{
    border-color: #D7DEBD!important;
}
.ayt-border-dark{
    border-color: #929C6B!important;
}
.ayt-spacer{
    background: url("src/assets/images/template/spacer-bg.svg");
    background-size: revert;
}

body{
     font-family: 'Shoor', sans-serif!important;
}



